/* 自定义分割线 */

.hr-my {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  font-size: 12px;
}

.hr-my:after {
  background: #fff;
  content: attr(data-content);
  padding: 0 4px;
  position: relative;
  top: -13px;
}

/* 图片 + 文字 */

.container-block {
  color: #fff;
  display: inline-block;
  margin: 2rem;
  max-width: 90%;
  position: relative;

  &:hover {
    .inner-block:before,
    .slider-top-right:after {
      height: 100%;
    }
    .inner-block:after,
    .slider-top-right:before {
      width: 100%;
    }
  }
  img {
    display: block;
    max-width: 100%;
  }
}

.block-content {
  position: absolute;
  bottom: 10%;
  left: 7%;
  padding: 0 1rem;
  color: #fff;
}

.slider-top-right:before,
.inner-block:after {
  height: 4px;
  transition: width 0.75s ease;
  width: 0%;
}

.slider-top-right:after,
.inner-block:before {
  height: 0%;
  transition: height 0.75s ease;
  width: 4px;
}

.inner-block:before,
.inner-block:after,
.slider-top-right:before,
.slider-top-right:after {
  background-color: #fff;
  content: "";
  display: block;
  position: absolute;
}

.inner-block {
  font-size: 2em;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  &:before {
    bottom: 0;
    left: 0;
  }
  &:after {
    bottom: 0;
    right: 0;
  }
}

.slider-top-right {
  position: relative;
  width: 100%;
  height: 100%;
  &:before {
    top: 0;
    left: 0;
  }
  &:after {
    top: 0;
    right: 0;
  }
}

/* 美化表格 */

#my_table {
  font-family: "Roboto";
  border-collapse: collapse;
  width: 100%;
}

#my_table td,
#my_table th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

#my_table tr:nth-child(even) {
  background-color: #f2f2f2;
  color: #000000;
}

#my_table tr:nth-child(odd) {
  background-color: #ffffff;
  color: #000000;
}

#my_table tr:hover {
  background-color: #e7e6e6f4;
}

#my_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #10a0f9cc;
  color: rgb(255, 255, 255);
}
